<div class="container">
  <div class="search">
    <input
      #searchField
      type="text"
      placeholder="Search"
      (keyup)="onSearch(searchField.value)"
    />
  </div>
  <table class="data">
    <tr>
      <th>Path ID</th>
      <th>Path</th>
      <th>Path ID for Vlookup</th>
    </tr>
    @for (item of filteredData(); track item.PATH_ID) {
    <tr>
      <td>{{ item.PATH_ID }}</td>
      <td>{{ item.PATH }}</td>
      <td>{{ item.Path_ID_for_Vlookup }}</td>
      <td></td>
    </tr>
    } @empty {
    <tr>
      <td colspan="3">No Data Found!</td>
    </tr>
    }
  </table>
</div>
